
{% extends 'base.html' %}
{% block title %}Acceuil{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="container mt-5 py-5">
  <div class="modal-content py-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{category}} alert-dismissible fade show d-flex align-items-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close close-btn ms-auto btn rounded-pill px-1" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container form-card bg-white shadow mt-5 p-5">
      <form method="POST">
      {{ form.hidden_tag() }}

      {{ form.full_name.label(class="form-label") }}
      {{ form.full_name(class="form-control") }}</br>
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control") }}</br>
      {{ form.password_hash.label(class="form-label") }}
      {{ form.password_hash(class="form-control") }}</br>
      {{ form.password_hash2.label(class="form-label") }}
      {{ form.password_hash2(class="form-control") }}</br>

      {{ form.submit(class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 mb-5") }}
      </form>


      <h2 class="mt-5 mb-2">Liste des utilisateurs:</h2>
      <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{user.full_name}}</td>
            <td>{{user.username}}</td>
            <td><a href="{{url_for('delete_user', id=user.id)}}"> <button class="btn btn-danger rounded-pill px-3 mb-2 mb-lg-0 ms-auto">Suprimer</button></a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}