
{% extends 'base.html' %}
{% block title %}Acceuil{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="container mt-5 py-5">
  <div class="modal-content py-5">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close close-btn ms-auto btn-danger rounded-pill px-1" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    

    <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}</br>
    {{ form.extrait.label(class="form-label") }}
    {{ form.extrait(class="form-control", placeholder="Ajoutez un extrait") }}</br>
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control", placeholder="Ajoutez le contenu") }}</br>
    {{ form.category.label(class="form-label") }}
    {{ form.category(class="form-control", placeholder="Choisir une categorie") }}</br>
    {{ form.submit(class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0") }}

    </form>
    </div>
</div>
{% endblock %}